
table {
    table-layout: fixed;
    width: 70%;
    max-width: 800px;
    border-color: #000000;
    border-collapse: collapse;
    padding: 5px;
    margin: 0 auto;
}
.left {
    display: none;
}
table td, th {
    font-size: 16px;
    border: 2px;
    border-color: #000000;
    border-style: solid;
    padding: 5px;
    margin: 5px;
    height: 40px;
}
th {
    background-color: #f7c892;
}
thead th:nth-child(1),
thead th:nth-child(2),
thead th:nth-child(3),
thead th:nth-child(4),
thead th:nth-child(5),
thead th:nth-child(6),
thead th:nth-child(7),
thead th:nth-child(8)
 {
    width: 19%;
}
thead th, tfoot th {
    font-family: "Potta One", cursive;
    overflow: hidden;
    text-overflow: ellipsis;
}
tbody td {
   font-size: 26px;
   text-align: center;
   word-wrap: break-word;
}
/*#table1 {
    top: 1000px;
}
#table2 {
    top: 2000px;
}
tbody tr:nth-child(odd) {
    background-color: #f5f2c6cc;
}
tbody tr:nth-child(even) {
    background-color: #fae2facb;
}*/
caption {
    font-family: "Potta One", cursive;
    font-size: 45px;
    color: #f3bd0a;
    text-decoration: blink;
    text-shadow: #f5dd8d 0 0 10px;
    text-align: center;
}
#worker,
#staff,
#adventure {
    letter-spacing: 1px;
    text-align: center;
    display: inline-block;
    position: fixed;
    font-size: 16px;
    padding: 5px;
    margin: 5px;
}
#worker {
    background-color: #f7c892;
    max-height: 250px;
    left: 85%;
    top: 270px; 
    min-width: 80px;
    max-width: 150px;
    border: 2px solid #000000;
}
#adventure {
    background-color: #f7c892;
    max-height: 250px;
    left: 85%;
    top: 85px; 
    min-width: 30px;
    max-width: 150px;
    border: 2px solid #000000;
}
#staff {
    left: 0%;
    top: 5px;
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
}
button {
    color: #000000;
    font-size: 30px;
    width: 30%;
    max-width: 300px;
    height: 30%;
    margin: 0 auto;
    display: none;
    overflow: auto;
    position: fixed;
    top: 15%;
    left: 35%;
}
button,
input {
    border: 2px solid #f3bd0a;
    background-color: #f8e49c;
    box-shadow: 1px 1px 2px #f5dd8d;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}
input,
div {
    text-align: center;
    width: auto;
    padding: 5px;
    margin: 5px;
}
input {
    cursor: pointer;
}
#G {
    background-color: #7fffd4;
    display: inline-block;
    overflow: hidden;
    min-width: 80px;
}
#H {
    background-color: #a9a9a9;
    display: inline-block;
    overflow: hidden;
    min-width: 80px;
}
#theme-button {
    display: inline-block;
    background: #333;
    color: #ccc;
    min-width: 80px;
    height: 30px;
    border: 0;
    font-size: 18px;
    border-radius: 4px;
    font-family: "Raleway", sans-serif;
    transition: 0.6s;
    overflow: hidden;
}
#theme-button:focus {
    outline: 0;
}
/*#theme-button:before {
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 80px;
    height: 35px;
    opacity: 0.5;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-15deg);
}
#theme-button:after {
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 80px;
    height: 35px;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-15deg);
}*/
#theme-button:hover {
    background: #338033;
    cursor: pointer;
}
#theme-button:hover:before {
    transform: translateX(300px) skewX(-15deg);
    opacity: 0.6;
    transition: 0.7s;
}
#theme-button:hover:after {
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: 0.7s;
}
select {
    padding: 2px;
    margin: 5px;
}
.close {
    font-size: 10px;
    font-weight: bold;
    float: right;
    cursor: pointer;
}
option {
    font-size: 16px;
}
.basket {
        width: 10px;
        height: 10px;
        cursor: pointer;
        background-image: url(img/basket.png);
        background-size: 15px 15px;
        background-repeat: no-repeat;
    }
.money {
        border: 0px;
        border-color: #ffffff;
        background-color: #ffffff;
    }
.horya {
    background-color: #7fffd4;
}
.shapowal {
    background-color: #a9a9a9;
}
    @media (max-width: 900px) {
        #staff {
            top: 80px;
            min-width: 50px;
            width: 12%;
            flex-direction: column;
	        display: flex;
            white-space: nowrap;
        }
    #worker {
            max-height: 250px;
            left: 85%;
            top: 270px; 
            min-width: 30px;
            max-width: 80px;
        }
        #adventure {
            max-height: 200px;
            left: 85%;
            top: 85px; 
            min-width: 30px;
            max-width: 80px;
            text-align: center;
            word-wrap:break-word;
        }

    }
    @media (max-width: 560px) {
        #staff {
            left: 0px;
            top: 5px;
            width: 250px;
            height: 50px;
            white-space: nowrap;
            overflow: hidden;
            position: absolute;
            display: inline-block;
            padding: 3px;
            margin: 0px;
        }
        #G,
        #H,
        #theme-button {
            overflow: hidden; 
            font-size: 14px;
            padding: 3px;
            margin: 0px;
            min-width: 60px;
        }
        table {
            table-layout: fixed;
            width: 90%;
            top: 150px;
            position: relative;
        }
        table td, th {
            font-size: 18px;
        }
        thead th, tfoot th {
            font-size: 12px;
            font-weight: bold;
        }
        .horya,
        .shapowal {
            font-size: 14px;
            font-weight: bold;
        }
        #worker {
            max-height: 205px;
            left: 60%;
            top: 5px; 
            width: 100px;
            max-width: 200px;
            font-size: 14px;
            position: absolute;
        }
        #adventure {
            height: 90px;
            left: 5%;
            top: 85px; 
            min-width: 150px;
            text-align: center;
            word-wrap:break-word;
            font-size: 14px;
            position: absolute;
            padding-top: 0px;
        }
        #table1 caption,
        #table2 caption,
        #table3 caption,
	    #table4 caption,
        #table5 caption,
        #table6 caption,
        #table7 caption {
            text-align: left;
            font-size: 40px;
        }
    }
    @media (max-width: 280px) {
        #staff {
            left: 0%;
            top: 5px;
            width: 90px;
            height: 110px;
            white-space: nowrap;
            overflow: hidden;
            position: absolute;
            display: flex;
            padding: 5px;
            margin: 5px;
        }
        #adventure {
            display: none;
        }
        #worker {
            left: 50%;
        }
    }
